@font-face{font-family:'RockoFLFBold';src:url('../assets/font/rockoflf-bold-webfont.eot');src:url('../assets/font/rockoflf-bold-webfont.eot?#iefix') format('embedded-opentype'),url('../assets/font/rockoflf-bold-webfont.woff') format('woff'),url('../assets/font/rockoflf-bold-webfont.ttf') format('truetype'),url('../assets/font/rockoflf-bold-webfont.svg#RockoFLFBold') format('svg');font-weight:normal;font-style:normal}
*:not(input){
   font-family: 'RockoFLFBold', sans-serif;
   cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
  
body {
	overflow:hidden;
	background-color: #e9f0f0;
	margin: 0;
	padding: 0px;
	position:absolute;
	width:100%;
	height:100%;
	z-index:-99;
} 
  
#GameScreenParent {
	position: relative;
	width: calc(100% - 290px - 40px - 18px - 20px);
	height: calc(100% - 260px);
	max-height: 900px;
	top: 25px;
	left: 10px;
}
#GameScreen {
	background-color:#fff;
    background-color: #fff;
	position: absolute;
	width: 100%;
	height: 100%;
    -moz-border-radius: 10px;
    border-radius: 10px;
	z-index:0; 
    overflow: hidden;
     /* this fixes the overflow:hidden in Chrome not clipping it's contents to the border-radius
     more information here: http://stackoverflow.com/questions/5736503/how-to-make-css3-rounded-corners-hide-overflow-in-chrome-opera*/
	-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}
#MainScreen {
	height: 100%;
}
#ToolBox {
	color: #005c73;
	background-color: #fff;
	position:absolute;
	width: 330px;
	height: calc(100% - 115px);
	top: 50px;
	right: 8px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	padding:5px;
	overflow-y: auto;
}
#StatsBox td {
	padding-right: 7px
}
#StatsBox input {
	width: 60px;
}
#Palette {
	position: absolute;
	bottom: 0px;
	left: 10px;
	height: 205px;
	width: calc(100% - 290px - 40px - 18px - 20px);
}
#PaletteFilter {
	display: inline-block;
	width: 260px;
}
#DecoShelf {
	height: 100%;
	overflow-y: auto;
}
#SpritesheetShelf {
	height: 100%;
	overflow-y: auto;
}
#exitList {
	border: 1px solid black;
	max-height: 150px;
	min-height: 1em;
	padding: 5px;
	margin: 3px;
	overflow-y: auto;
}
#exitList input {
	width: 120px;
	margin-right: 5px;
}
.deleteButton {
	height: 1em;
	margin-right: 5px;
	position: relative;
	top: 3px;
}
#layerList {
	border: 1px solid black;
	max-height: 150px;
	min-height: 1em;
	padding: 5px;
	margin: 3px;
	overflow-y: auto;
}
#layerList .dnd-placeholder {
	border: 1px dashed #CCC;
	background: none;
}

#layerList span {
	cursor: move;
}
#layerList li {
	list-style: none;
}
.layerTitle {
	display: inline-block;
	margin-left: 25px;
}
.checkbox_wrapper{
	display: inline;
    position: relative;
    height: 16px;
    width: 17px;
}

.eye {
    opacity:0;
    height: 16px;
    width: 17px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.eye + label{
    background:url('../assets/images/layer_off.png') no-repeat;
    height: 16px;
    width: 17px;
    display:inline-block;
	margin-top: 3px;
	margin-left: 4px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.eye:checked + label{
    background:url('../assets/images/layer_on.png') no-repeat;
    height: 16px;
    width: 17px;
    display:inline-block;
	margin-top: 3px;
	margin-left: 4px;
}
#Generate {
	color: white;
	background: #0495B9;
	display: inline-block;
	font-size: larger;
	left: 30%;
	right: 30%;
	border-radius: 10px;
	padding: 10px;
}
#GenerateParent {
	text-align: center;
	width: 330px;
	right: 13px;
	position: absolute;
	bottom: 5px;
}
#CurrentLocation{
  position:absolute;
  display: -webkit-inline-flex;
  display: inline-flex;
  right: 10px;
  top: -45px;
  color:mediumgrey;
  font-size: 14px;
  white-space: nowrap;
}
#Location{
  color:#005c73;
  font-size: 18px;
}
#MapGlyph {
  float:left;
  padding-right:10px;
}

.shadow {		
	-webkit-box-shadow: -1px 1px 3px 0px #4d8c8b;
	-moz-box-shadow: -1px 1px 3px 0px #4d8c8b;
	-o-box-shadow: -1px 1px 3px 0px #4d8c8b;
	-khtml-box-shadow: -1px 1px 3px 0px #4d8c8b;
	box-shadow: -1px 1px 3px 0px #4d8c8b;
}
.dashedBorder {
	border: 1px dashed black;
}
.flip {
	transform: scale(-1,1);
	-ms-transform: scale(-1,1); /* IE 9 */
	-webkit-transform: scale(-1,1); /* Opera, Chrome, and Safari */
}
#DeleteDeco {
	background: #0495B9;
	color: white;
	display: inline;
	padding: 5px;
	border-radius: 10px;
}
.LoadingBar{
   background-color: #c5dc81;
   width:0%;
   border: 1px solid #fff;
   -moz-border-radius: 5px;
   border-radius: 5px;
    transition-property: width;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0.5s;
    -webkit-transition-property:width;
    -webkit-transition-duration:0.2s;
    -webkit-transition-timing-function:linear;
    -webkit-transition-delay:0.5s;
}
.LoadingGroove {
	display: inline-block;
	width: 300px;
}
#DecoLoadingStatus {
	white-space: nowrap;
}
.tabs {
  position: relative;
  height: calc(100% - 2em);
}
.tab {
  float: left;
  cursor: pointer;
}
.tab label {
	background: #eee; 
	padding: 4px; 
	border: 1px solid #ccc; 
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-left: -1px;
	position: relative;
	left: 1px;
	top: 5px;
}
.tab [type=radio] {
  display: none;   
}
.content {
  position: absolute;
  height: calc(100% - 2em);
  top: 28px;
  left: 0;
  right: 0;
  display: none;
}
[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
  display: block;
}